*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #42113C;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth; 
}

.html{
  scroll-behavior: smooth;
}

#root{
  height:100%;
}

.App{
  min-height: 100vh;
  height: auto; 
  color: #fff;
}

#introSubTitle{
  font-size: large;
}

#emp_{
  display: inline;
}


.emphasis{
  color: #FA9F42;
}

.video {
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.vid{
  border-radius: 22px;

}
#heroImage{
  position: relative;
  left:34%;
}

.whole{
  background-image: url("./assets/images/photos/books.jpg");
}

.grayscale {
  filter: grayscale(100%);
}

.brand-image{
  width: 100%;
}

.slidebox{
  max-width: 1020px;
  margin: 100px auto;
  height: 100px;
  position: relative;
}

h2::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #fff;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.logo-slider .item{
  background-color: #42113C;
  box-shadow: 0 4px 5px #42113C;
  border-radius: 8px;
  padding: 15px;
  border: 2px solid #fff;
}

.logo-slider{
position: relative;
top: 36px;
}

.slick-slide{
  margin-top: -1px;
}

.slick-dots li.slick-active button::before{
  color: #FA9F42;
}

.slick-dots li button::before{
  font-size: 10px;
}

slick-next::before,
slick-prev::before{
  color: #FA9F42;
  font-size: 22px;
}

.item:hover{
  display: block;
  transition: all ease 0.3s;
  transform: scale(1.1) translateY(-5px);
}


.btnUp{
  margin-top: -1%;
}

body.formpage{
  overflow-y: visible;
}




@media (max-width: 768px) {
  body{
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .mobile-menu-button {
    display: block;
    width: 100%;
  }

  #mobile-menu:hover{
    color: #C32F27;
  }
  
  .nav-menu-wrapper {
    display: none;
  }

  .nav-icon {
    display: block;
    margin: 2%; 
    padding: 2%;
  }

  .logo {
    width: 70%;
    margin-top: -14%;
    position: relative;
    right: 14%;
  }

  .mobile-menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(253, 207, 243, 0.99);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .mobile-menu-content {
    padding: 20px;
  }

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #C32F27;
    margin-bottom: 10px;
  }


  .mobile-menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s;
  }

  .mobile-menu-link:hover{
    color: #C32F27;
  }
  .mobile-menu-link:hover {
    background: #eee;
  }
  .header-extras{
    display:none;
  }
  .link{
    position: relative;
    left: 0;
  }

  .banner-head, .main_container{
    margin-top: -10%;
  }
  .topic{
    font-size: 60px !important;
  }

  .topic-md{
    font-size: larger;
    position: relative;
    left: 10%;
  }

  .gap{
    padding: 0%;
  }

  .inner-text{
    font-size: large;
    text-align: inherit;
  }

  .inner-text-sm{
    font-size: medium;
  }

  .banner-image{
    display: none;
  }

  /* .fields{
    padding-left: 8px;
    padding-right: 8px;
  } */

  .video-wrapper{
    display:none;
  }

  /* .banner{
    margin-top: -10%;
  } */

  .banner-description h1{
    font-size: xx-large;
    margin:3%;
  }

  .banner-description h1 p{
    font-size: small;
  }

  #header{
    display:none;
  }

  .App{
    height: auto;
  }

}










