*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden; 
}

#root{
  height:100%;
}

.App{
  height: 100vh;
  background-color: #42113C;
  color: #fff;
}


#introSubTitle{
  font-size: large;
}

#emp_{
  display: inline;
}

.emphasis{
  color: #FA9F42;
}

video {
  /** Simulationg background-size: cover */
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
}

#heroImage{
  position: relative;
  left:34%;
}

.whole{
  background-image: url("./assets/images/photos/books.jpg");
}

/* .grayscale {
  filter: grayscale(100%);
} */

.brand-image{
  width: 100%;
}

.slidebox{
  max-width: 1040px;
  margin: 100px auto;
}

h2::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #fff;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.logo-slider .item{
  background-color: #42113C;
  box-shadow: 0 4px 5px #42113C;
  border-radius: 8px;
  padding: 15px;
  border: 2px solid #fff;
}

.logo-slider .slick-slide{
  margin: 15px;
}

.slick-dots li.slick-active button::before{
  color: #ff5722;
}

.slick-dots li button::before{
  font-size: 12px;
}

slick-next::before,
slick-prev::before{
  color: #ff8159;
  font-size: 28px;
}

.item:hover{
  display: block;
  transition: all ease 0.3s;
  transform: scale(1.1) translateY(-5px);
}


@media screen and (max-width: 700px){
  .video-wrapper{
    display:none;
  }

  /* .banner{
    margin-top: -10%;
  } */

  .banner-description h1{
    font-size: large;
    margin:3%;
  }

  .banner-description h1 p{
    font-size: medium;
  }

  #header{
    display:none;
  }

  .App{
    height: auto;
  }
}