*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden; 
}

#root{
  height:100%;
}

.App{
  height: 100vh;
  background-color: #42113C;
  color: #fff;
}

#introSubTitle{
  font-style: oblique;
  font-size: x-large;
}